body {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
}

h1,h2,h3,h4,h5 {
  font-family: "Roboto Slab",sans-serif;
  margin-bottom: 0;
}

.navbar-header {
  font-family: "Roboto Slab",sans-serif;
  font-size: 1.25rem;
}

hr {
  border: none;
  height: 2px;
  color: #aaa;
  background-color: #aaa;
  margin-top: 0.75em;
}

.fe-btn {
  color: #1e1e1e;
  padding: 12px 32px;
  background-color: #fedb00;
  border: none;
  font-family: "Roboto Slab",sans-serif;
  border-radius: 0;
}

.fe-btn[disabled] {
  color: #989795;
  background-color: #ebe9e6;
  font-family: "Roboto Slab",sans-serif;
  border-radius: 0;
}

.fe-formcontrol {
  border-radius: 0;
  height: 48px;
  background-color: #f0f0f0;
  border-color: #d9d9d9;
  box-shadow: none;
}

.fe-formerror {
  border-color: #A00 !important;
}
